mat-card {
  img {
    width: 8rem;
    height: 7rem;
    object-fit: contain;
    object-position: center;
  }
}

.image-container {
  height: 100%;
  display: flex;
  padding: 2rem 0rem;
  justify-content: center;
  align-items: center;

}

.mat-card-content-container {
  margin-bottom: 2rem;
}

.first-appearance-container {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}